[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"
pandas = "*"
uvicorn = "*"
pytest = "*"
psycopg2-binary = "*"
python-dotenv = "*"
greenlet = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
alembic = "*"
python-decouple = "*"
pydantic = "*"
pydantic-settings = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
